<a href="https://colab.research.google.com/github/CurdtMillion/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-01-22 00:58:25--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.9.173
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.9.173|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  97.2MB/s    in 2.0s

2020-01-22 00:58:27 (97.2 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [0]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [0]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [0]:
##### YOUR CODE HERE #####
import pandas as pd
import numpy as np
df = pd.read_csv('orders.csv')
df.sample(5)
# Columns needed: 'order_id', 'product_id', and maybe 'product_name'

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
1107050   2695451    66615  ...                12                     6.0
1569915   2143295    94312  ...                 9                     4.0
201024     132243    12166  ...                15                     2.0
2528204   1877960   152149  ...                 8                     7.0
1103859   1959700    66460  ...                10                     0.0

[5 rows x 7 columns]

In [0]:
order_products_df = pd.read_csv('order_products__prior.csv')
order_products_df.sample(5)

          order_id  product_id  add_to_cart_order  reordered
3020270     318781       27973                 31          0
22036575   2324238       24859                 14          0
19578170   2064904       22935                  3          0
24246928   2557109       26604                 31          0
22651008   2389130       47652                  1          1

In [0]:
products_df = pd.read_csv('products.csv')
products_df.sample(5)

       product_id  ... department_id
20498       20499  ...             8
32136       32137  ...             7
2593         2594  ...             3
41111       41112  ...            19
892           893  ...            11

[5 rows x 4 columns]

In [0]:
products_needed = [('Banana'), ('Bag of Organic Bananas'), ('Organic Strawberries'),('Organic Baby Spinach'), 
                   ('Organic Hass Avocado'), ('Organic Avocado'), ('Large Lemon'), ('Strawberries'), ('Limes'),
                   ('Organic Whole Milk')]

condition = products_df['product_name'].isin(products_needed)

products_df_subset = products_df[condition]
products_df_subset.head()

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4
16796       16797            Strawberries        24              4
21136       21137    Organic Strawberries        24              4
21902       21903    Organic Baby Spinach       123              4
24851       24852                  Banana        24              4

In [0]:
# Now merge products_df_subset with order_products__prior by product_id
products_and_id = products_df_subset.merge(order_products__prior, on='product_id', how='inner')

In [0]:
products_and_id.head()

   product_id            product_name  ...  add_to_cart_order  reordered
0       13176  Bag of Organic Bananas  ...                  1          1
1       13176  Bag of Organic Bananas  ...                  1          1
2       13176  Bag of Organic Bananas  ...                  3          1
3       13176  Bag of Organic Bananas  ...                  3          1
4       13176  Bag of Organic Bananas  ...                  3          1

[5 rows x 7 columns]

In [0]:
# Getting the top 10 items
top_10 = products_and_id['add_to_cart_order'].value_counts().index
top_10 = top_10[:10]

In [0]:
n = 1
for i in top_10:
    test = products_and_id.loc[i]
    print(test[1], 'is the ', n, 'most frequently bought product')
    n = n + 1

Bag of Organic Bananas is the  1 most frequently bought product
Bag of Organic Bananas is the  2 most frequently bought product
Bag of Organic Bananas is the  3 most frequently bought product
Bag of Organic Bananas is the  4 most frequently bought product
Bag of Organic Bananas is the  5 most frequently bought product
Bag of Organic Bananas is the  6 most frequently bought product
Bag of Organic Bananas is the  7 most frequently bought product
Bag of Organic Bananas is the  8 most frequently bought product
Bag of Organic Bananas is the  9 most frequently bought product
Bag of Organic Bananas is the  10 most frequently bought product

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

            John Smith  Jane Doe  Mary Johnson
treatmenta         NaN      16.0           3.0
treatmentb         2.0      11.0           1.0

In [0]:
# table2 -> tidy

In [0]:
# tidy -> table2

In [0]:
flights = sns.load_dataset('flights')

In [0]:
# Flights Pivot Table

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####